body {
	font-family: verdana, sans-serif;
	background-color:#F8F8FF;
	margin: 15px 50px;
}

ul{
	list-style-type: none;
	background-color: #6495ED;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


li {
	float: left;
}

li a{ 
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 15px;	
}

li a:hover{
	background-color: white;
	color: #6495ED;
}


h1 {
	color:#6495ED;
	font-family: georgia;
}

.w3s {
	color: #A52A2A;
}

table {
	border-collapse: collapse;
	border: 1px solid #dddddd;
	width: 70%;
	min-width: 551px;
	text-align: center;
}

th, td {
	border-width: 0px;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {background-color: #DCDCDC;}

tr:hover {background-color: #D3D3D3;}

aside {
	background-color: #B0C4DE;
	font-style: italic;
	font-size: 12px;
	float: right;
	width: 25%;
	padding: 10px;
	margin: 15px 0 0 20px;
}

fieldset {
	margin: auto;
	margin-top: 30px;
	padding: 30px;
}

form {
	margin-bottom: 20px;
}

legend {

	font-size: 16px;
	
}
